.navbar{
  background: #2c3e50;
  height: 70px;
  font-size: 17px;
}

#section1{
  height: 550px;
}

.img-wh{
  height: 550px;
}

#section3{
  height: 400px;
  background: #ebe3ec;
}

#section4{
  background: #2c3e4f;
  height: 550px;
}
footer{
  background: #2c3e4f;
}

.eventImg{
  height: 250px;
}
.sliderImg{
  width: 100%;
  height: 590px;
  opacity: 0.8;
}
h2{
  color: green;
  background: #dec3c3;
  display: inline-block;
}
